body {
    font-family: "Trebuchet MS", Verdana;
}

a {
    color: #3B3B3B;
}

a:hover {
    color: #757575;
}

.centered-content {
    text-align: center;
}

.jumbo {
    font-size: 3em;
    margin: 1em;
}

.ui-icon
{
    background-image: url("/img/ui-icons_444444_256x240.png");
}