body {
    font-family: "Trebuchet MS", Verdana;
}

a {
    color: #3B3B3B;
}

a:hover {
    color: #757575;
}

.centered-content {
    text-align: center;
}

.jumbo {
    font-size: 3em;
    margin: 1em;
}

.ui-icon
{
    background-image: url("/img/ui-icons_444444_256x240.png");
}

#headingTitleDiv {
    width:100%;
}

#headingTitle {
padding:5px;
margin-left:300px;
text-align:center;
color:black;
border:1px;
font-size:24px;
}

#searchContainer {
padding:5px;
margin-left:300px;
border:none;
background:#FFFFFF;
}

#searchBox {
    margin-left:10px;
    width:185px;
}

#autoCompleteDropDown {
    display:none;
    width:195px;
}

#noSearchResultsContainer {
    margin-left:45px;
    text-align:center;
    color:black;
    display:none;
}