body {
    font-family: "Trebuchet MS", Verdana;
}

a {
    color: #3B3B3B;
}

a:hover {
    color: #757575;
}

.centered-content {
    text-align: center;
}

.jumbo {
    font-size: 3em;
    margin: 1em;
}

.ui-icon
{
    background-image: url("/img/ui-icons_444444_256x240.png");
}

#headingTitleDiv {
    width:100%;
}

#headingTitle {
padding:5px;
margin-left:300px;
text-align:center;
color:black;
border:1px;
font-size:24px;
}

#collegeNameInputBoxHeading {
    margin-left: 300px;
    font-size: 10px;
}

#searchContainer {
padding:5px;
margin-left:300px;
border:none;
background:#FFFFFF;
}

#searchBox {
    margin-left: 9px;
    width:185px;
}

#autoCompleteDropDown {
    display:none;
    width:202px;
    margin-left:-8px;
}

#noSearchResultsContainer {
    margin-left:45px;
    text-align:center;
    color:black;
    display:none;
}

#searchIcon {
    position: absolute;
    margin-left: -8px;
}

#headerImage {
    background: url(/img/cappex_header.png) 1% 1% no-repeat;
    height:100px;
    width:auto;
}